/* GOOGLE FONT IMPORT (RALEWAY) */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap");

/* GLOBAL DEFAULTS */
* {
	height: fit-content;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}

body {
	width: 100vw;
	color: white;
	background-color: #202020;
	overflow-x: hidden;
}

header {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid cyan;
	background-color: #202020;
	box-shadow: 0 0 0.5rem 0.5rem #000;
	position: fixed;
	top: 0;
	z-index: 99;
}

h1,
h2 {
	margin: 1rem 0;
	font-weight: 400;
}

main {
	width: 90%;
	margin: 8rem auto 3rem auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.container {
	width: 40%;
	margin-top: 2rem;
	border: 1px solid cyan;
	border-radius: 10px;
	box-shadow: 0 0 0.5rem 0.5rem #000;
	overflow: hidden;
	transition: all 0.25s linear;
}

.container:hover {
	background-color: #000;
	transform: scale(1.1);
}

h3 {
	width: 100%;
	text-align: center;
	font-weight: 400;
	margin: 0.25rem 0;
	padding: 0.25rem;
	border-bottom: 1px solid cyan;
	background-color: #000;
}

.test-case:first-of-type {
	border-bottom: 1px solid cyan;
}

.test-case {
	height: 7rem;
}

.tc-span {
	color: cyan;
}

p {
	margin: 1rem;
}

@media (max-width: 900px) {
	.container {
		width: 80%;
	}
}
